# Default ignored files
/shelf/
/workspace.xml

# Rider ignored files
/.idea.bu-2026-sem1-gi262-week03-1670702719.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

